* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* CaseCard-classes */
.Case {
   box-shadow: 5px 5px 5px rgb(230, 230, 230);
   border-radius: 10px;
}
.Case-Link {
   text-decoration: none;
   color: #000;
}
.Case .card-body {
   outline: transparent;
   border: transparent;
}
.Case .card-body:hover {
   border-radius: 6px;
   outline: 2px solid rgb(146, 145, 145);
   transition: 150ms ease-in-out;
   color: rgb(45, 45, 45);
}
.Case .card-body:active {
  outline: 2px solid #000;
}
.Single-Case textarea {
   resize: none;
   font-size: .9rem;
   min-height: 100px;
}
/* CaseCard-classes */
