* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
button {
   color: red;
}
/* CaseCard-classes */
.Issue {
   box-shadow: 5px 5px 5px rgb(230, 230, 230);
   border-radius: 10px;
   position: relative;
}
.Comments textarea {
   resize: none;
   min-height: 100px;
}
.Status {
   position: absolute;
   bottom: 2px;
   right: 10px;
   font-weight: bold;
   color: rgb(96, 89, 89);
}
.noarrow a {
   text-decoration: none;
   color: rgb(104, 102, 102);
   font-weight: bold;
}
.noarrow a:hover {
   color: #000;
   text-decoration: underline;
}
.Issue-Link {
   text-decoration: none;
   color: #000;
}
.Issue .card-body {
   outline: transparent;
   border: transparent;
}
.Issue .card-body:hover {
   border-radius: 6px;
   outline: 2px solid rgb(146, 145, 145);
   transition: 150ms ease-in-out;
   color: rgb(45, 45, 45);
}
.Issue .card-body:active {
  outline: 2px solid #000;
}
.Single-Issue textarea {
   resize: none;
   font-size: .9rem;
   min-height: 100px;
}
/* CaseCard-classes */

.errorMessage {
   visibility: visible;
   position: absolute;
   margin-left: 3px;
   color: red;
   margin-top: 3px;
   font-weight: 300;
}
.selectErrorMessage {
   position: absolute;
   visibility: visible;
   position: absolute;
   margin-left: 3px;
   color: red;
   font-weight: 300;
   bottom: -25px;
}
.form-control {
   border: none;
   outline: 1px solid rgb(213, 213, 213);
}
.form-control:focus {
   outline: none;
   border: none;
   outline: 2px solid rgb(115, 114, 114);
   box-shadow: none;
}
